html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  background-color: black;
  line-height: 1.3em;
}

header, footer {
  margin: 0;
  padding: 5px;
  padding-left: 14px;
  color: white;
}

header a, footer  a {
  color: #CCCC99;
}

header img {
  float:left;
  margin-right:10px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 0 3px 3px #555;
}

header h1 {
  padding-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

header p {
  margin-top: 0;
  font-style: italic;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:not(.active) a:hover,
nav li:not(.active) a:focus {
  background-color: #333;
}

nav .active {
  background-color: #4b7445;
}

main {
  padding: 30px;
  background-color: white;
}

main a {
  color: #4b7445;
  font-weight: bold;
}

main p {
  margin: 0 0 0.7em;
}

img {
  border-radius: 3px;
  box-shadow: 0 0 3px 3px #555;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
}

td, th {
  text-align: left;
  padding: 8px;
}

table>thead>tr>th, table>thead>tr>td {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th {
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table>thead>tr:first-child>td, table>tbody>tr:first-child>td {
  border-top: 0;
}

tbody>tr:hover {
  background-color: #f5f5f5;
}

tbody a {
  color: #4b7445;
}

table p.caption {
  font-size:smaller;
  color:grey;
  font-style: italic;
  text-align: center;
  line-height: 1em;
  margin-bottom: 0;
}

table img.thumb {
  box-shadow: 0 0 3px 3px #cccccc;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd {
    margin-left: 110px;
}

.dl-horizontal dt {
  float: left;
  width: 100px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.warning, .warning>a {
  color:red;
  font-weight: bold;
}

a {
  color: #4b7445;
  font-weight: bold;
}

.version-list .version-heading {
  font-size:1.6em;
  color:black;
  font-weight: bold;
  margin-top: 0.8em;

}

.version-list p {
  line-height: normal;
  margin-bottom: 0.2em;
}